layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    footer {
        background: #fff;
        z-index: 1;
    }
    .main {
        flex: 1;
        position: relative;
        .main-container {
            height: 100%;
            background-color: #efefef;
            min-height: 300px;
        }
    }
    .footer-item {
        line-height: 1;
    }
}