<div *ngIf="header">
    <ng-container *ngTemplateOutlet="header.ref"></ng-container>
</div>
<div *ngIf="body">
    <ng-container *ngTemplateOutlet="body.ref"></ng-container>
</div>
<div *ngIf="footer">
    <ng-container *ngTemplateOutlet="footer.ref"></ng-container>
</div>
<div *ngIf="left">
    <ng-container *ngTemplateOutlet="left.ref"></ng-container>
</div>
<div *ngIf="center">
    <ng-container *ngTemplateOutlet="center.ref"></ng-container>
</div>
<div *ngIf="right">
    <ng-container *ngTemplateOutlet="right.ref"></ng-container>
</div>
<ng-content></ng-content>